/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 <style>
.nav-tab {
	border-bottom: 1px solid #c3c4c7;
}
 
.nav-tab.top-orange {
	 border-top: 3px solid orange;
}
.nav-tab.top-orange-green {
	box-shadow: 0px -3px 0px 0px orange;
	border-top: 3px solid green;
}
.nav-tab.top-green {
	border-top: 3px solid green;
}
.nav-tab.top-red {
	border-top: 3px solid red;
}
.nav-tab.top-gray {
	border-top: 3px solid #c3c4c7;
}
.coupon-emails-setting .form-table {
 	font-size: 12px;
 }
 .coupon-emails-setting .form-table th  {
 	padding: 5px;
 	width: 350px;
 }
  .coupon-emails-setting .form-table tr td {
 	padding: 5px;
 }
  .coupon-emails-setting .form-table {
 	margin: 20px;
 }
 
  .coupon-emails-setting input[type=checkbox] {
	   transform : scale(1.4);
	   margin: 8px 4px;
}
 
  .coupon-emails-setting select {
  	line-height: normal;
  	vertical-align: initial;
  }
  
 .coupon-emails-setting .textarea_,  #log-table .textarea_ {
 	width: 100% !important;
 }
 
 .coupon-emails-setting input,  .coupon-emails-setting select  {
	 vertical-align: initial  !important;
 }
 
  .coupon-emails-setting input,  .coupon-emails-setting .select2-container {
	vertical-align: middle  !important;
}

.coupon_setting {
	background: #ebe9eb;
	padding: 1px 10px 10px 10px;
	margin-top: 5px;
}
.alt_coupon_setting, .email_setting {
	padding: 1px 10px 10px 10px;
	margin-top: 5px;
}
.btn-restore {
    float: right;
    margin-right: 5%;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected]{
	color: inherit !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]:hover,
.select2-container--default .select2-results__option--highlighted[data-selected]:hover{
	background-color: #f6f7f7 !important;
}

.title-center {
	text-align: center !important;
	}	
	.couponemails_wrapper {
		overflow: hidden;
	}
	.couponemails_left  {
		float: left;
		width: 700px;
	}
	.couponemails_right {
		overflow: hidden;
	}

	@media screen and (max-width: 1080px) {
		.couponemails_left {
			float: none;
			margin-right: 0;
			width: auto;
		}
	}	

 </style>